.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  padding: 4px;
  min-height: 91vh;
  position: relative;
}

.image-style-1 {
  width: 700px;
  height: 420px;
  border-radius: 10px;
  opacity: 0.9;
}

.image-container-1 {
  position: absolute;
  right: 25%;
  top: 1px;
  z-index: -1000;
  transform: rotate(-4deg);
  opacity: 0.9;
}

.image-style-2 {
  width: 450px;
  height: 380px;
  border-radius: 8px;
  opacity: 0.9;
}

.image-container-2 {
  position: absolute;
  bottom: -15px;
  left: -18px;
  z-index: -100;
  /* transform: rotate(-4deg); */
}

.image-style-3 {
  width: 450px;
  height: 380px;
  border-radius: 8px;
  opacity: 0.7;
}

.image-container-3 {
  position: absolute;
  right: -18px;
  bottom: -15px;
  z-index: -300;
  /* transform: rotate(-15deg); */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  color: #000;
  z-index: 10;
}
.btn {
  background-color: #000;
}

/* Media Queries for Responsive Adjustments */
@media screen and (max-width: 768px) {
  .img-container {
    position: relative;
  }
  .image-style-1 {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 40px;
    transform: rotate(-15deg);
    z-index: -1000;
  }
  .image-style-2 {
    width: 100%;
    height: auto;
    border-radius: 10px;
    z-index: -100;
    /* margin-bottom: -80px; */
  }

  .image-container-1 {
    z-index: -1000;
    position: static;
    transform: none;
    margin: 10px auto;
  }
  .image-container-2 {
    z-index: -100;
    position: static;
    transform: none;
    margin-top: 180px;
  }
}
